<!DOCTYPE html>
<head>
  <title>Log</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <div id="nav_bar"></div>
  <h1>My log</h1>
  <br>
  <br>
  <div id = menu>
    <form class="meals" method="post">
      <input type="button" name="meal" value="Breakfast"></input>
      <input type="button" name="meal" value="Lunch"></input>
      <input type="button" name="meal" value="Dinner"></input>
      <input type="button" name="meal" value="Snacks"></input>
    </form>
  </div>
</body>
