<!DOCTYPE html>
<head>
  <title>Log</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
  <h1>My log</h1>
  <br>
  <br>
  <div id = "menu">
    <form class="meals" method="post">
      <input type="button" name="meal1" value="Breakfast" id = "breakfast"></input>
      <input type="button" name="meal2" value="Lunch" id = "lunch"></input>
      <input type="button" name="meal3" value="Dinner" id = "dinner"></input>
      <input type="button" name="snack" value="Snacks" id = "snacks"></input>
    </form>
  </div>
</body>
