<!DOCTYPE html>
<html>
<head>
  <title>My Profile</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Assistant&display=swap" rel="stylesheet">
  <script src='scripts/script.js'></script>
</head>
  <body>
    <div id="nav_bar"><p id="text_in_nav"><a href="/log" class ="navbarlink">my log</a>
      | <a href= {{logout_url}} class="navbarlink"> log out!</a></p></div>
    <br>
    <br>
    <br>

    <div class="name">
      <h1>CalPal</h1>
    </div>

    <div class="profile">
      <div id="profileHeader">
        <h1 id="profileTitle">my profile</h1>
      </div>

      <form class="profileForm" method="post">
        <p>weight:</p>
        <input type="text" name="weight" placeholder="weight" class="formInput"></input>
        <p>height:</p>
        <input type="text" name="height" placeholder="height" class="formInput"></input>
        <p>age:</p>
        <input type="text" name="age" placeholder="age" class="formInput"></input>
        <p>gender</p>
        <input type="Radio" name="Gender" value="male">male</input>
          <input type="Radio" name="Gender" value="female">female</input>
        <br>
        <br>
        <p>weight goal:</p>
        <input type="text" name="weight" placeholder="weight" class="formInput"></input>
        <p>weekly target:</p>
        <select>
            <option value=2>lose 2 lb/week</option>
            <option value=1.5>lose 1.5 lb/week</option>
            <option value=1>lose 1 lb/week</option>
            <option value=.5>lose .5 lb/week</option>
            <option value=.5>gain .5 lb/week</option>
            <option value=1>gain 1 lb/week</option>
            <option value=1.5>gain 1.5 lb/week</option>
            <option value=2>gain 2 lb/week</option>
        </select>
        </div>
        <button type="submit" name="submitProfile">let's go!</button>
      </form>

      <div class="link">
        <a href="/log" id = "logbutton"><div id="logbuttontext">go to my log!</div></a>
      </div>

      <p id = "goal">your goal for today is...</p>
      <p id = "goal"> __ amount of calories!</p>
      <p id = "goal"> __ cups of water!</p>
    </div>

  </body>
  </html>
