<!DOCTYPE html>
<html>
<head>
  <title>sign up</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Assistant&display=swap" rel="stylesheet">
  <script src='scripts/script.js'></script>
</head>
  <body>
    <div id="nav_bar">
      <div id="text_in_nav">
        <center><h1 id="profileName">CalPal</h1></center>
        <a href="/log" class ="navbarlink">my log</a>
      | <a href= {{logout_url}} class="navbarlink"> log out!</a>
    </div>
    </div>
    <div id="nav_profile"></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- <div class="name">
      <h1>CalPal</h1>
    </div> -->

    <div class="profile">
      <div id="profileHeader">
        <h1 id="profileTitle">Sign Up</h1>
      </div>

      <!--form for you to enter data -->

      <form class="profileForm" method="post">
          <div id="wide">
        <p>weight:</p>
        <input type="text" name="weight" placeholder="weight" class="formInput"></input>
        <p>height:</p>
        <input type="text" name="height" placeholder="height" class="formInput"></input>
        <p>age:</p>
        <input type="text" name="age" placeholder="age" class="formInput"></input>
        <p>gender:</p>
        <input type="Radio" name="Gender" value="male">male</input>
        <input type="Radio" name="Gender" value="female">female</input>
          </div>
      <div id="wide">
        <!-- <p>enter a 4-digit pin number</p>
        <input type="text" name="pin" placeholder="pin" class="formInput"></input> -->
        <!-- <p>gender:</p>
        <input type="Radio" name="Gender" value="male">male</input>
        <input type="Radio" name="Gender" value="female">female</input> -->
        <!-- <br>
        <br> -->
        <p>weight goal:</p>
        <input type="text" name="weight" placeholder="weight" class="formInput"></input>
        <br>
        <br>
        <p>weekly target:</p>
        <select>
            <option value=1>lose 2 lb/week</option>
            <option value=2>lose 1.5 lb/week</option>
            <option value=3>lose 1 lb/week</option>
            <option value=4>lose .5 lb/week</option>
            <option value=5>gain .5 lb/week</option>
            <option value=6>gain 1 lb/week</option>
            <option value=7>gain 1.5 lb/week</option>
            <option value=8>gain 2 lb/week</option>
        </select>
        <br>
        <br>

        <p>activity level:</p>
        <select>
            <option value=a>sedentary</option>
            <option value=b>lightly active</option>
            <option value=c>active</option>
            <option value=d>very active</option>
        </select>
    </div>
    </div>
    <center> <button type="submit" name="submitProfile">let's go!</button> </center>

      </div>
      <!-- <center> <button type="submit" name="submitProfile">let's go!</button> </center> -->
    </form>

  </body>
  </html>
