<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../styles/style.css">
  <title>My Profile</title>
  </head>
<body>
  <center> <h1> Your Profile  </h1> </center>
<form>
  Weight:<br>
  <input type="value" name="Weight" value="Weight"><br>
  Height:<br>
  <input type="value" placeholder="Height" value="Height"><br>
  Age:   <br>
  <input type="Age" placeholder="Age" value="Age"><br><br>

  <input type= "button" value= "Finish">
  <br>
  <center>  <input type = "button" value = "Go to my Log!"></center>
</form>


</body>



</html>
