html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Assistant';
  margin-top: inherit;
  font-style: italic;
  background-color: #F2EDE4;
  /* change later */
}

h1 {
  text-align: center;
  padding: 50px;
  font-size: 60px;
  font-style: normal;
}

.scrollmenu {
  border-top: 2px solid #80937A;
  border-left: 2px solid #80937A;
  border-right: 2px solid #80937A;
  border-bottom: none;
  background-color: #DD9F8E;
  color: #F2EDE4;
}

.scrollmenu:hover {
  background-color: #DD9F8E;
  color: #3A301C;
}

input[name="meal"] {
  margin-left: 250px;
  display: block;
  margin-bottom: 70px;
  margin-top: 60px;
}

input[type=text] {
  padding: 2%;
  margin-left: 5%;
  width: 40%;
}

input[name="submitbutton"] {
  border-bottom: none;
  background-color: #859B7E;
  color: #F2EDE4;
  padding: 1.6%;
  font-size: 14px;
  margin-left: 3%;
}

input[name="submitbutton"]:hover {
  background-color: #80937A;
  color: #3A301C;
}

.scrollmenu {
  font-size: 24px;
  padding: 24px;
  width: 20%;
  margin-right: -8px;
}

#nav_bar {
  background-color: #859B7E;
  height: 5px;
  margin-top: -20px;
  margin-left: -8px;
  position: fixed;
  width: 100%;
  z-index: 3;
  text-align: right;
  font-family: 'Assistant';
  color: #DD9F8E;
  padding: 40px;
}

#nav_menu {
  margin-top: 7%;
}

#nav_bar_log {
  background-color: #859B7E;
  height: 5px;
  margin-top: 2.2%;
  margin-left: -8px;
  /* margin-right: 6px; */
  position: fixed;
  width: 100%;
  z-index: 3;
  text-align: right;
  font-family: 'Assistant';
  color: #DD9F8E;
  padding: 40px;
}

#text_in_nav {
  margin-right: 80px;
  margin-top: -1px;
  z-index: 4;
  font-style: normal;
}

.sticky {
  position: fixed;
}

.sticky + .content {
  padding-top: 102px;
}

/*giant box in the nav page log page*/
#nav_bar_borders {
  height: 100%;
  height: 80%;
  width: 104%;
  margin-left: -2%;
  background-color: #859B7E;
  margin-top: -6%;
}

#logtext {
  background-color: #F2EDE4;
  z-index: 2;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  size: 60px;
  padding-top: 10%;
  color: black;
}

.menu {
  border-color: #859B7E;
  border-style: solid;
  border-width: 10px;
  background-color: #DD9F8E;
  margin-right: 30%;
  margin-left: 30%;
  padding: 5%;
  margin-bottom: 10%;
  margin-top: 5%;
  border-radius: 2px;
}

.foodlist {
  z-index: 2;
  margin-left: 130%;
  margin-top: -20%;
}

#options {
  margin-left: 5%;
  margin-bottom: 5%;
}

.profileForm {
  margin-left: 30%;
  margin-top: -40px;
}

#profileHeader {
  margin-top: -5%;
}

.profile {
  background-color: #DD9F8E;
  border-color: #859B7E;
  border-style: solid;
  border-width: 10px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 6%;
}

.name {
  color: #DD9F8E;
  font-family: 'Fascinate', cursive;
  font-size: 80px;
  height: 100%;
}

.navbarlink {
  color: #F2EDE4;
  text-decoration: none;
}

.navbarlink:hover {
  color: #DD9F8E;
  text-decoration: underline;
}


.link {
  height: 30px;
  width: 22%;
  margin-left: 40%;
  margin-top: 5%;
  padding: 2px;
  background-color: #859B7E;
}

#logbutton {
  color: #F2EDE4;
  text-decoration: none;
  text-align: center;
  margin-left: 20%;
}

#logbutton:hover {
  color: #DD9F8E;
  text-decoration: underline;
}

#logbuttontext {
  margin-top: -12%;
}

#goal {
  text-align: center;
}

#stickybar {
  height: 50%;
  background-color: #859B7E;
  width: 30%;
  /* margin-left: 55%; */
  margin-top: 85vh;
  right: 10%;
  margin-bottom: 10%;
  bottom: 10%;
  box-shadow: 4px 4px 4px 4px #2B3229;
  position: fixed;
}

.stick {
  position: fixed;
}

#stickybartitle {
  text-align: center;
  color: #F2EDE4;
  font-style: normal;
  padding: 2%;
  font-size: 30px;
}

#calories {
  font-size: 40px;
  text-align: center;
  color: #F2EDE4;
  font-style: normal;
}

#foodlist {
  font-size: 24px;
  text-align: justify;
  color: #F2EDE4;
  padding: 2%;
  padding-bottom: 8%;
  margin-left: 8%;
  font-style: normal;
}

.stick {
  position: fixed;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
  .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16 px;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}



/* p{
  font-size: 60px
} */
